@font-face {
    font-family: HelveticaNeue;
    src: url(./asset/fonts/HelveticaNeue.ttc) format("ttc");
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all .3s ease-out;
    font-family: HelveticaNeue, sans-serif;
}

body {
    height: 100vh;
    padding: 2rem 0 0 0;
    background: #E5E5E5;
}

.header-container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: auto;
}

.header-text-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.arrow-img {
    position: absolute;
    left: 0;
    width: 1.125rem;
    height: 1.5rem;
}

.header-text {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.25rem;
    text-align: center;
    color: #232323;
    display: block;
    text-decoration: none;
    cursor: pointer;
}

.hidden {
    display: none;
}

.header-text-laptop {
    display: none;
}

.bottom-text {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.063rem;
    text-align: center;
    color: #898989;
}

.bottom-text2 {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.063rem;
    text-align: center;
    color: #898989;
    display: none;
}

main {
    width: 100%;
    min-height: 100vh;
   
}

.form-container {
   
    width: 100%;
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.first-ul {
    background: #FFFFFF;
    border-radius: 0.75rem 0.75rem 0 0;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.nameSurname {
    width: 100%;
}

li {
    text-decoration: none;
    list-style: none;
    width: 100%;
}

.input-class {
    margin: 1rem 0;
    padding: 1rem;
    display: block;
    width: 100%;
    height: 60px;
    border: 1.8px solid #8AC0E2;
    border-radius: 0.5rem;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.313rem;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 1);
    outline: none;
}

.input-class:focus {
    background: rgba(43, 75, 242, 0.06);
}

.input-container.success > input {
    background-image: url(../Images/success.png);
    background-repeat: no-repeat;
    background-position: right 1rem top 50%;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.input-bottom-text {
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.313rem;
    display: flex;
    align-items: center;
    color: #2E2E2E;
}

.input-container {
    margin: 1rem 0;
}

.input-container.error > label,
.input-container.error > span {
    color: #E52F2F;
}

.input-container.error > input {
    border-color: #E52F2F;
}

select {
    width: 100%;
    height: 60px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    padding: 1rem;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #000000;
    border: none;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: #EBEBEB;
    background-image: url("../Images/down-arrow.png");
    background-repeat: no-repeat;
    background-position-x: calc(100% - 8px);
    background-position-y: 50%;
}

select.error {
    border: 1.8px solid #E52F2F;

}

option {
    font-weight: 400;
    color: #000000;
    width: 50%;
}

option:focus {
    background: #E7F0F8;
    color: #FFFFFF;
}

.next {
    display: flex;
    width: 145px;
    height: 46px;
    background: #62A1EB;
    border-radius: 8px;
    margin-left: auto;
    border: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.next:hover {
    background: #317AD0;
}

.laptop-specs {
    width: 100%;
    max-width: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.second-ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.second-ul li {
    padding: 2rem 1rem;
    background: #FFFFFF;
    border-radius: 12px;
    
}

.upload-img {
    display: flex;
    background-image: url(../Images/upload-laptop-img.png);
    background-repeat: no-repeat;
    background-position: top 60px center;
    width: 100%;
    height: 244px;
    background-color: #F7F7F7;
    border: 2px dashed #4386A9;
    border-radius: 8px;
    flex-direction: column;
    gap: 7rem;
    margin-bottom: 2rem;
    align-items: center;
}

.upload-img.error {
        border-color: #E52F2F;
        background-color: #FFEDED;
        background-image: url(../Images/upload-laptop-img.png), url(../Images/error-warning.png);
        background-position: top 60px center, bottom 25px center;
}

.upload-class {
    display: none;

}

.hidden-input {
    visibility: hidden;
}

.text-for-img-upload {
    width: 50%;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #4386A9;
    justify-content: center;
}

.upload-img-hidden {
    display: none;
}

.laptop-names {
    margin-bottom: 2rem;
}

.radio-buttons.error > label {
    color: #E52F2F;
    position: relative;
    max-width: fit-content;
}

.radio-buttons.error > label::after {
    position: absolute;
    content: url(../Images/error-warning.png);
    right: -2rem;
}

.radio-button-container {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.date-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.price-laptop {
    background-image: url(../Images/GEL.png);
    background-repeat: no-repeat;
    background-position: right 1rem center;
}


.back-button {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.08em;
    color: #62A1EB;
    border: none;
    background-color: transparent;
    text-decoration: none;
}

.button-saved {
    display: flex;
    justify-content: space-between;
}

.bottom-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.desktop-logo {

    display: none;
}

@media screen and (min-width: 1024px) {

    body {
        height: 100vh;
        padding: 6rem 0 0 0;
        background: #E5E5E5;
    }

    main {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .form-container {
        width: 100%;
        max-width: 1206px;
        margin: auto;
        display: flex;
        flex-direction: column;
        /* padding: 2rem 10.688rem; */
    }

    .second-ul {
        display: flex;
        flex-direction: column;
        gap: 0rem;
        width: 100%;
    }

    .second-ul li::after {
        content: "";
        position: absolute;
        max-width: 925px;
        width: 100%;
        height: 1px;
        bottom: 0;
        background-color: #D9D9D9;
    }

    .header-container {
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
        max-width: 100%;
        margin: auto;
        margin-bottom: 1.75rem;
    }

    .arrow-img {
        position: absolute;
        left: 0;
        top: -1rem;
        margin-left: 2rem;
        background: #D9D9D9;
        border-radius: 50%;
        width: 53px;
        height: 53px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    
    .header-main-text {
            display: flex;
            justify-content: space-between;
            gap: 4.125rem;
    }

    .header-text-laptop {
        display: inline;
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.25rem;
        text-align: center;
        color: #232323;
        
    }

    .bottom-text {
        display: none;
    }

    .header-text.active {
        position: relative;
    }

    .hidden {
        display: block;
    }

    .header-text.active::after {
        content: "";
        position: absolute;
        width: 90%;
        left: 5%;
        height: 2px;
        background-color: #000000;
        top: calc(100% + 15px);
    }
    
    .nameSurname {
        width: 100%;
        display: flex;
        gap: 4.125rem;
    }

    .first-ul {
        gap: 2rem;
        padding: 5rem 10rem;
    }

    .laptop-specs {
        width: 100%;
        max-width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }


    .second-ul {
        width: 100%;
        max-width: 1206px;
        margin: auto;
        display: flex;
        flex-direction: column;
     
        /* padding: 2rem 22rem; */
    }
    
    .full-width {
        width: 100% !important;
    }

    .second-ul li {
        padding: 2rem 10.875rem;
        background: #FFFFFF;
        border-radius: 0px;
        position: relative;
    }

    .upload-img {
        background-image: none;
        max-width: 870px;
        height: 423px;
        gap: 6rem;
    }

    .upload-img.error {
        border-color: #E52F2F;
        background-color: #FFEDED;
        background-image: url(../Images/error-warning.png);
        background-repeat: no-repeat;
        background-position: center top 54px;
        background-size: 38px 34px;
    }

    .upload-class {
        display: block;
        text-align: center;
        width: 132px;
        height: 46px;
        background: #62A1EB;
        border-radius: 8px;
        margin-left: auto;
        border: none;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        margin: 0;
        color: #FFFFFF;
        transition: 0.3 ease-in;
        
    }

    .text-for-img-upload {
       display: none;
    }
    
    .upload-img-hidden {
        display: block;
        width: 27%;
        text-align: center;
        font-weight: 500;
        font-size: 20px;
        line-height: 38px;
        color: #4386A9;
    }
   
    .laptop-name-brand {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .select-div {
        width: 48%;
        margin-bottom: 2rem;
        height: 62px;
    }

    select {
        height: 100%;
    }

    .input-halp {
        margin: 1rem 0;
        width: 48%;
    }
    
    .cpu-core-theard {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }
    
    .cpu {
        height: 68px;
        margin-bottom: 1.9rem;
        flex-basis: 35%;
    }

    .cpu-core {
        margin: 1rem 0;
        flex-basis: 35%;
    }

    .cpu-theard {
        margin: 1rem 0;
        flex-basis: 35%;
    }

    .desktop-logo {
        display: block;
        margin: 4.188rem;
    }

    
        .input-container {
            margin: 1rem 0;
            width: 45%;
        }
    

    .radio-box {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    
    .radio-buttons {
        width: 45%;
    }

    .bottom-radio-box {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .sale-date-cont {
        width: 45%;
    }

}